# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg
dist/
build/

# Unit test / coverage reports
.coverage
coverage.xml
.pytest_cache/

# Environments
.env
.venv
venv/

# IDE
.vscode/
.idea/
*.swp
